@import './base.css';

#app {
  max-width: 1536px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@media (width < 768px) {
  #app {
    padding-bottom: 16px;
  }
}