@import './base.css';

#app {
  max-width: 1536px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.input-disabled, .input:disabled, .input[disabled], .file-input-disabled, .file-input[disabled] {
  background-color: #f2ecec !important;
  border-color: #f2ecec !important;
  color: #323232 !important;
}

@media (width < 768px) {
  #app {
    padding-bottom: 16px;
  }
}